---
import Layout from "../layouts/Layout.astro";

import Navbar from "~/components/Navbar.astro";

import Home from "~/sections/Home.astro";
import Skills from "~/sections/Skills.astro";
import Projects from "~/sections/Projects.astro";
import Contact from "~/sections/Contact.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <main id="content">
    <Home />
    <Skills />
    <Projects />
    <Contact />
  </main>
  <footer class="mt-20 text-center text-sm">Made by Jorge Eyzaguirre</footer>
</Layout>
