---
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Home from "@/sections/Home.astro";
import Skills from "@/sections/Skills.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <main>
    <Home />
    <Skills />
  </main>
</Layout>
