---
import MobileNavigation from "@/components/MobileNavigation";

import LogoSVG from "@/assets/logo.astro";
import { LINKS } from "@/configuration";
---

<nav
  class="sticky top-0 flex h-[80px] items-center justify-between bg-slate-900/90 px-5 backdrop-blur"
>
  <div class="h-[48px] w-[42px]">
    <LogoSVG />
  </div>
  <div class="md:hidden">
    <MobileNavigation client:only="react" />
  </div>
  <ul class="hidden gap-x-10 md:flex" role="navigation">
    {
      LINKS.map((link) => (
        <a class="hover:text-cyan-300" href={link.href}>
          {link.label}
        </a>
      ))
    }
  </ul>
</nav>
