---
import MailIllustration from "~/assets/mail-illustration.astro";
import MailIcon from "~/assets/icons/mail-icon.astro";

import { EMAIL } from "~/configuration";
---

<section id="contact" class="flex flex-col items-center justify-center gap-x-5 gap-y-5 lg:flex-row">
  <div>
    <MailIllustration />
  </div>
  <h2 class="text-2xl font-bold md:text-3xl lg:text-4xl">Let's get in contact!</h2>
  <a
    class="inline-flex gap-x-2 rounded-lg border border-cyan-300 px-6 py-3 font-[Raleway] text-sm text-cyan-300 shadow-sm shadow-slate-400 transition-colors duration-300 hover:bg-cyan-900 active:bg-cyan-700 active:shadow-inner"
    href={`mailto:${EMAIL}`}><MailIcon />Say hi!</a
  >
</section>
