---
import { Image } from "@astrojs/image/components";
import documentSVG from "@/assets/icons/document-icon.svg";
import mailSVG from "@/assets/icons/mail-icon.svg";
---

<section id="home" class="mt-5 px-5">
  <div class="flex flex-col gap-y-1 font-[Raleway]">
    <p class="text-xl font-bold md:text-3xl">Hi</p>
    <p class="text-xl font-bold md:text-3xl">I’m Jorge,</p>
    <p class="text-xl font-bold md:text-3xl">Web Developer</p>
  </div>
  <p class="mt-2 text-purple-300">Full Stack Developer / I love creating and learning 🎓</p>
  <div class="mt-3 flex gap-x-2">
    <button
      class="inline-flex transform gap-x-2 rounded-lg border border-transparent bg-cyan-300 px-2 py-2 text-sm font-bold text-slate-900 shadow-md transition-colors duration-300 hover:bg-cyan-400 focus:outline-none"
      ><Image src={documentSVG} alt="" width={20} height={20} />Resume</button
    >
    <button
      class="inline-flex transform gap-x-2 rounded-lg border border-cyan-300 px-2 py-2 text-sm font-bold text-slate-50 shadow-md transition-colors duration-300 hover:bg-cyan-900 focus:outline-none"
      ><Image src={mailSVG} alt="" width={20} height={20} />Say hi!</button
    >
  </div>
</section>
