<p class="text-3xl font-bold">Hi</p>
<p class="text-3xl font-bold">I’m Jorge,</p>
<p class="text-3xl font-bold">Web Developer</p>
<p>Full Stack Developer / I love creating and learning 🎓</p>
<button>Download CV</button>
<button>Say hi!</button>
