---
import "@fontsource/raleway";
import "@fontsource/open-sans";

import { SEO } from "astro-seo";

import GoogleAnalytics from "~/components/GoogleAnalytics.astro";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-slate-900 text-slate-50">
  <head>
    <GoogleAnalytics />
    <SEO
      title="Jorge Eyzaguirre | Web developer"
      description="My web development skills and portfolio"
      charset="UTF-8"
      canonical="https://jorgeyza.com"
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg", type: "image/svg+xml" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
  </head>
  <body class="container m-auto pb-10 font-['Open_Sans']">
    <slot />
  </body>
</html>
