---
import "@fontsource/raleway";
import "@fontsource/open-sans";

import { SEO } from "astro-seo";

import GoogleAnalytics from "~/components/GoogleAnalytics.astro";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-slate-900 text-slate-50">
  <head>
    <GoogleAnalytics />
    <SEO
      title="Jorge Eyzaguirre | Web developer"
      description="I am Jorge Eyzaguirre, a full-stack web developer with experience, ready to deliver exceptional digital experiences."
      charset="UTF-8"
      canonical="https://jorgeyza.com"
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg", type: "image/svg+xml" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          { name: "generator", content: Astro.generator },
        ],
      }}
      openGraph={{
        basic: {
          type: "website",
          url: "https://jorgeyza.com",
          title: "Jorge's portfolio website",
          image: "https://res.cloudinary.com/jorgeyza/image/upload/v1676923134/ogBanner_xqbbk1.png",
        },
        optional: {
          description:
            "I am Jorge Eyzaguirre, a full-stack web developer with experience, ready to deliver exceptional digital experiences.",
        },
        image: {
          alt: "Portfolio website",
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "https://jorgeyza.com",
        title: "Jorge Eyzaguirre | Web developer",
        description:
          "I am Jorge Eyzaguirre, a full-stack web developer with experience, ready to deliver exceptional digital experiences.",
        image: "https://res.cloudinary.com/jorgeyza/image/upload/v1676923134/ogBanner_xqbbk1.png",
      }}
    />
  </head>
  <body class="container m-auto pb-10 font-['Open_Sans']">
    <slot />
  </body>
</html>
